.divCardContainer {
  background-color: white;
  border-radius: 10px;
  color: white;
  display: flex;
  height: 400px;
  justify-content: center;
  margin-left: 30px;
  width: 300px;
}

.divBackground {
  align-self: center;
  background-color: hsl(120, 32%, 33%);
  border-radius: 10px;
  border: 2px rgb(15, 155, 190) solid;
  display: flex;
  height: 95%;
  justify-content: center;
  width: 95%;
}

.divContent {
  align-self: center;
  background-color: rgb(15, 39, 15);
  border: 2px rgb(15, 155, 190) solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: center;
  width: 95%;
}

.cardName {
  font-weight: 500;
  height: 5%;
  margin: 5px 5px;
  text-align: right; 
  width: 100%;
}

.img {
  background-color: white;
  display: block;
  height: 150px; 
  width: 95%; 
}
