h2 {
  color: white;
}

form {
  background-color: white;
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

label {
  font-weight: 700;
  margin: 10px;
}

button {
  align-self: center;
  background-color: blue;
  margin: 10px;
  width: 150px;
  height: 30px;
}

.checkboxTrunfo {
  align-self: center;
}

select {
  margin: 10px;
  width: 200px;
  height: 30px;
}

.inputText {
  margin: 5px;
  width: 80%;
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  
  border-color: black;
}